#toolbar {
    background-color: steelblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 20px 0 20px;
}
